<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	 version="2.5">
    
    <display-name>elimu-services</display-name>
    
    <!-- REST Services -->
    <servlet>
        <servlet-name>Jersey Servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence/elimusys-pu</persistence-unit-ref-name>
        <persistence-unit-name>elimusys-pu</persistence-unit-name>
    </persistence-unit-ref>
    
    <welcome-file-list>
        <welcome-file>test-services.html</welcome-file>
    </welcome-file-list>
    
</web-app>
